playbooks/ansible.cfg

!execution-environment/build-context/
!execution-environment/build-context/_build/
!execution-environment/build-context/_build/configs

execution-environment/build-context/_build/*
**/.DS_Store