---
- name: Runs osbuild compose to build image installer
  hosts:
  - all
  vars:
    controller_validate_certs: false
    controller_configuration_credentials_secure_logging: false
  tasks:
  - name: Import image definition variables from file in git repo
    block:
    - name: Create a temp directory
      ansible.builtin.tempfile:
        state: directory
        suffix: repos
      register: tempdir
    - name: Set in variable
      ansible.builtin.set_fact:
        repos_dir: "{% raw %}{{ tempdir.path }}{% endraw %}"
    - name: Clone repo
      ansible.builtin.shell:
        cmd: "git clone http://{{ gitea_user }}:{{ gitea_user_password }}@{{ ansible_host }}:{{ gitea_port | default('3030') }}/{{ gitea_user }}/{% raw %}{{ images_repo }}{% endraw %}.git {% raw %}{{ repos_dir }}{% endraw %}/images"
    - name: Check if there is an image definition file
      ansible.builtin.stat:
        path: "{% raw %}{{ repos_dir }}{% endraw %}/images/{% raw %}{{ files_path }}/{{ image_definition_file }}{% endraw %}"
      register: imagedefinition_file_stat
      delegate_to: localhost
    - name: Include vars
      ansible.builtin.include_vars:
        file: "{% raw %}{{ repos_dir }}{% endraw %}/images/{% raw %}{{ files_path }}/{{ image_definition_file }}{% endraw %}"
      when: imagedefinition_file_stat.exists
    delegate_to: localhost

  
  - name: Create image installer
    ansible.builtin.import_role:
      name: rprakashg.vpac.create_image_installer 

  - name: Create iso with custom kickstart
    ansible.builtin.import_role:
      name: rprakashg.vpac.create_iso
...