---
- name: Centralized Management System Demo with Ansible Automation Platform
  hosts: cms

  vars:
    aap_validate_certs: false
    aap_hostname: "{{ ansible_host }}:8443"
    
  tasks:
  - name: Load secrets from ansible vault
    ansible.builtin.include_vars:
      file: "./vars/secrets.yml"

  - name: Setup centralized management system
    ansible.builtin.import_role:
      name: rprakashg.vpac.setup_centralized_management_system
    vars:
      node_fqdn: "{{ ansible_host }}"
  
  - name: Configure centralized management system
    ansible.builtin.import_role:
      name: rprakashg.vpac.configure_centralized_management_system
    vars:
      config_imagebuilder: false
      config_influxdb: false
      influxdb_org: redhat
      influxdb_bucket: vpac
      influxdb_retentionperiod: 0
      config_gitea: false
      gitea_port: 3030
      gitea_admin_repos_template: ../templates/admin_repos
      gitea_user_repos_template: ../templates/user_repos

      config_aap: true
      aap_config_template: ../templates/aap_config.yml.j2
      organization_name: vpac
      aap_repo_name: "aap"
      eda_repo_name: "eda"
      loki_port: 3100
      loki_endpoint: "http://{{ ansible_host }}:{{ loki_port }}"
      influxdb_port: 8086
      innfluxdb_endpoint: "http://{{ ansible_host }}:{{ influxdb_port }}"
      influxdb_org: redhat
      influxdb_bucket: vpac
      