---
- name: Centralized Management System Demo with Ansible Automation Platform
  hosts: cms

  tasks:
  - name: Load secrets from ansible vault
    ansible.builtin.include_vars:
      file: "./vars/secrets.yml"

  #- name: Setup centralized management system
  #  ansible.builtin.import_role:
  #    name: rprakashg.vpac.setup_centralized_management_system
  #  vars:
  #    node_fqdn: 192.168.1.28
  
  - name: Configure centralized management system
    ansible.builtin.import_role:
      name: rprakashg.vpac.configure_centralized_management_system
    vars:
      config_imagebuilder: false
      config_influxdb: false
      influxdb_user: admin
      influxdb_password: r3dH4T1234!
      influxdb_org: redhat
      influxdb_bucket: vpac
      influxdb_retentionperiod: 0
      config_gitea: true
      gitea_admin_repos_template: ../templates/admin_repos
      gitea_user_repos_template: ../templates/user_repos
      gitea_admin_user: gitea
      gitea_admin_password: r3dH4T1
      
      config_aap: false