---
name: Build push execution environment images
on:
    push:
        branches:
        - main
        paths:
        - 'execution-environment/**'
    workflow_dispatch:
env:
    IMAGE_NAME: ${{ secrets.EE_IMAGE_NAME }}
    IMAGE_REGISTRY: ${{ secrets.IMAGE_REGISTRY }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14.2'

    - name: Install ansible-builder
      run: |
        pip install ansible-builder==3.*
    
    - name: Login to regisry.redhat.io
      uses: redhat-actions/podman-login@v1
      with:
        registry: registry.redhat.io
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        
    - name: Create an ansible.cfg file
      working-directory: execution-environment/build-context
      run: |
        cat <<EOF > ansible.cfg
        [galaxy]
        server_list = automation_hub_validated,automation_hub_published

        [galaxy_server.automation_hub_validated]
        url = https://console.redhat.com/api/automation-hub/content/validated
        auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
        token = ${{ secrets.AUTOMATION_HUB_TOKEN }}

        [galaxy_server.automation_hub_published]
        url = https://console.redhat.com/api/automation-hub/content/published
        auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
        token = ${{ secrets.AUTOMATION_HUB_TOKEN }}

        EOF

    - name: Generate Containerfile with ansible-builder
      working-directory: execution-environment  
      run: |
        ansible-builder create -f ee.yml \
            --output-filename Containerfile \
            --context build-context

    - name: Build EE image
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: | 
          latest
          ${{ github.sha }}
        context: execution-environment/build-context
        containerfiles: |
          execution-environment/build-context/Containerfile
    
    - name: Login to registry
      uses: redhat-actions/podman-login@v1
      with:
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.QUAY_PASSWORD }}

    - name: Push EE image to registry
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: |
            latest
            ${{ github.sha }}
        registry: ${{ env.IMAGE_REGISTRY }}

    - name: Save the Containerfile as build artifact
      uses: actions/upload-artifact@v6
      with:
        name: containerfile
        path: execution-environment/build-context/Containerfile  