---
name: Build push execution environment images
on:
    push:
        branches:
        - main
        paths:
        - 'execution-environment/**'
    workflow_dispatch:
env:
    IMAGE_NAME: ${{ secrets.EE_IMAGE_NAME }}
    IMAGE_REGISTRY: ${{ secrets.IMAGE_REGISTRY }}

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: registry.access.redhat.com/ubi9/ubi
      options: --privileged
    
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Get container tools in UBI builder
      run: dnf -y install podman buildah skopeo
    
    - name: Access a subscription via activation key
      env:
        SMDEV_CONTAINER_OFF: 1
        orgid: ${{ secrets.ORGID }}
        activation_key: ${{ secrets.ACTIVATION_KEY }}
      run: subscription-manager register --org=$orgid --activationkey=$activation_key
    
    - name: Workaround open podman-login action issue
      env:
        auth: "{ \"auths\": {} }"
      run: |
        mkdir -p $HOME/.docker
        echo $auth > $HOME/.docker/config.json
    
    - name: Login to regisry.redhat.io
      uses: redhat-actions/podman-login@v1
      with:
        registry: registry.redhat.io
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
        auth_file_path: /run/containers/0/auth.json

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11.*'

    - name: Install ansible-builder
      run: |
        dnf install --enablerepo=ansible-automation-platform-2.6-for-rhel-9-x86_64-rpms -y ansible-builder 
        
    - name: Create an ansible.cfg file
      working-directory: execution-environment/build-context
      run: |
        cat <<EOF > ansible.cfg
        [galaxy]
        server_list = public_galaxy,automation_hub_validated,automation_hub_published
        ignore_certs = true
        
        [galaxy_server.public_galaxy]
        url = https://galaxy.ansible.com/api/

        [galaxy_server.automation_hub_validated]
        url = https://console.redhat.com/api/automation-hub/content/validated
        auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
        token = ${{ secrets.AUTOMATION_HUB_TOKEN }}

        [galaxy_server.automation_hub_published]
        url = https://console.redhat.com/api/automation-hub/content/published
        auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
        token = ${{ secrets.AUTOMATION_HUB_TOKEN }}

        EOF

    - name: Print ansible.cfg file
      working-directory: execution-environment/build-context
      run: |
        cat ansible.cfg

    - name: Generate Containerfile with ansible-builder
      working-directory: execution-environment  
      run: |
        ansible-builder create -f ee.yml \
            --output-filename Containerfile \
            --context build-context

    - name: Build EE image
      uses: redhat-actions/buildah-build@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: | 
          latest
          ${{ github.sha }}
        context: execution-environment/build-context
        containerfiles: |
          execution-environment/build-context/Containerfile
    
    - name: Login to registry
      uses: redhat-actions/podman-login@v1
      with:
        registry: ${{ env.IMAGE_REGISTRY }}
        username: ${{ secrets.REGISTRY_USER }}
        password: ${{ secrets.QUAY_PASSWORD }}
        auth_file_path: /run/containers/0/auth.json

    - name: Push EE image to registry
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ env.IMAGE_NAME }}
        tags: |
            latest
            ${{ github.sha }}
        registry: ${{ env.IMAGE_REGISTRY }}

    - name: Save the Containerfile as build artifact
      uses: actions/upload-artifact@v6
      with:
        name: containerfile
        path: execution-environment/build-context/Containerfile  